<hr>
<div class="p text-muted text-center">All images downloaded from https://unsplash.com/</div>
<div class="p text-muted text-center">Cookies are used to maintain session id for the user. Maickel Siqueira - 2020</div>
<div class="bg-danger w-100 mr-0 ml-0 p-1 text-center text-light small">This site is not a real store. You can't buy pictures. I do not own the right to any of these images.</div>
