<div class="container">
    <div class="h2 text-center">Public Pictures</div>
    <div class="row">
        <div class="col-12 col-md-6">
            <div class="card">
                <img class="card-img-top" src="temp/banana.jpg" alt="Lonely Banana">
                <div class="card-body text-center">
                    <h5 class="card-title text-center">Lonely Banana</h5>
                    <p class="card-text small text-center">Size 5827x3602 | Downloads: 0 | Credits: 5</p>
                    <a href="#" class="btn btn-primary">Get it!</a>
                </div>
            </div>
        </div>
            <div class="col-12 col-md-6">
            <div class="card">
                <img class="card-img-top" src="temp/banana.jpg" alt="Lonely Banana">
                <div class="card-body text-center">
                    <h5 class="card-title text-center">Lonely Banana</h5>
                    <p class="card-text small text-center">Size 5827x3602 | Downloads: 0 | Credits: 5</p>
                    <a href="#" class="btn btn-primary">Get it!</a>
                </div>
            </div>
        </div>                
    </div>
</div>