<div class="container">
    <br>
    <br>

    <br>
    <div class="lead text-center"> Welcome to the Banana Photo Store.</div>
    <br>
    <div class="lead text-center" id="message">Its backend is sleeping. Wait a moment for it to wake up.</div>
    <br>
    <br>
</div>
<script>
    fetch('https://bsp-backend.herokuapp.com/tags', {
        method: 'GET',
        headers: { 'Content-Type': 'application/json' }
    })
    .then(response => {
        const message = document.getElementById('message');
        message.innerHTML = 'Its server has awakened. You may use this website now.'
    })
</script>